<div class="ui middle aligned very padded centered grid">
  <div class="black row">
    <div class="twelve wide middle aligned column">
      <h1>Some epic music for Dragon Age sessions</h1>
    </div>
  </div>
  <div class="row">
    <div class="twelve wide middle aligned column">
      <%= render 'player' %>
    </div>
  </div>
  <div class="black row">
    <div class="center aligned column" id="back-button">
      <button class="ui icon inverted button">
        <i class="backward icon"></i>
      </button>
    </div>
    <div class="center aligned column" id="pause-button">
      <button class="ui icon inverted button">
        <i class="pause icon"></i>
      </button>
    </div>
    <div class="center aligned column" id="play-button">
      <button class="ui icon inverted button">
        <i class="play icon"></i>
      </button>
    </div>
    <div class="center aligned column" id="forward-button">
      <button class="ui icon inverted button">
        <i class="forward icon"></i>
      </button>
    </div>
    <div class="center aligned column" id="shuffle-button">
      <button class="ui icon inverted button">
        <i class="random icon"></i>
      </button>
      </div>
  </div>
</div>